body {
    display: flex;
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f5f5f5;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 50vh;
    gap: 1em;
    margin-bottom: 20px;
}

input { 
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #f5f5f5;
}

label {
    font-weight: bold;
}

input[type="submit"] {
    background-color: #333;
    color: #f5f5f5;
    cursor: pointer;
}


input[type="submit"]:hover {
    background-color: #3b2268;
    transition: 0.2s;
}

